---
layout: default
---

<main class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    {%- for template in site.templates -%}
    <article class="library-item">
      <h2 class="library-rule-name">
        <a href="{{ template.url }}"><img src="{{ template.rule.icon }}">
          {{ template.rule.name }}  
        </a>
      </h2>
      <p class="library-rule-structure">{{ template.rule.summary }}</p>
      
      <div class="library-module-list modules__grid">
        {%- for module in template.rule.modules -%}
        <div class="module library-module">{{ module.name }}
          {%- for submodule in module.modules -%}
            <div class="module library-module">{{ submodule.name }}</div>
          {%- endfor -%}
        </div>
        {%- endfor -%}
      </div>
    </article>
    {%- endfor -%}
  </div>

</main>